<div class="t-navbar">
  <div class="t-navbar-sep">&nbsp;</div>
  <div class="t-navbar-head">
    <a href="{{ '/' | relative_url }}" title="cpp">containderofuniqueentries</a>
    <div class="t-navbar-menu">
      <div>
        <div>
          <table class="t-nv-begin" cellpadding="0" style="line-height: 1.1em">
            <tbody>
              <tr class="t-nv">
                <td colspan="5">
                  <a
                    href="{{ '/_docs/deque_of_unique/index.html' | relative_url }}"
                    title="deque_of_unique"
                    >deque_of_unique</a
                  >
                </td>
              </tr>
              <tr class="t-nv">
                <td colspan="5">
                  <a
                    href="{{ '/_docs/vector_of_unique/index.html' | relative_url }}"
                    title="vector_of_unique"
                    >vector_of_unique</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="t-navbar-sep">&nbsp;</div>
  <div class="t-navbar-head">
    <strong class="selflink"
      ><tt
        ><a
          href="{{ '/_docs/deque_of_unique/index.html' | relative_url }}"
          title="deque_of_unique"
          >containerofunique::deque_of_unique</a
        ></tt
      ></strong
    >
    <div class="t-navbar-menu">
      <div>
        <div>
          <table class="t-nv-begin" cellpadding="0">
            <tbody>
              <tr class="t-nv-h1">
                <td colspan="5">
                  <a
                    href="{{ '/_docs/deque_of_unique/#Member types' | relative_url }}"
                    title="containerofunique/deque_of_unique"
                    >Member types</a
                  >
                </td>
              </tr>
              <tr class="t-nv-h1">
                <td colspan="5">
                  <a
                    href="{{ '/_docs/deque_of_unique/#Member functions' | relative_url }}"
                    title="containerofunique/deque_of_unique"
                    >Member functions</a
                  >
                </td>
              </tr>
              <tr class="t-nv-col-table">
                <td>
                  <div>
                    <table class="t-nv-begin" cellpadding="0">
                      <tbody>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/constructor' | relative_url }}"
                                  title="containerofunique/deque_of_unique/constructor"
                                  ><span class="t-lines"
                                    ><span
                                      >deque_of_unique::deque_of_unique</span
                                    ></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/destructor' | relative_url }}"
                                  title="containerofunique/deque_of_unique/destructor"
                                  ><span class="t-lines"
                                    ><span
                                      >deque_of_unique::~deque_of_unique</span
                                    ></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/operator=' | relative_url }}"
                                  title="containerofunique/deque_of_unique/operator="
                                  ><span class="t-lines"
                                    ><span
                                      >deque_of_unique::operator=</span
                                    ></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/assign' | relative_url }}"
                                  title="containerofunique/deque_of_unique/assign"
                                  ><span class="t-lines"
                                    ><span>deque_of_unique::assign</span></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv-h2">
                          <td colspan="5">
                            <a
                              href="{{ '/_docs/deque_of_unique#Element access' | relative_url }}"
                              title="containerofunique/deque_of_unique/"
                              >Element access</a
                            >
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/at' | relative_url }}"
                                  title="containerofunique/deque_of_unique/at"
                                  ><span class="t-lines"
                                    ><span>deque_of_unique::at</span></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/operator_at' | relative_url }}"
                                  title="containerofunique/deque_of_unique/operator_at"
                                  ><span class="t-lines"
                                    ><span
                                      >deque_of_unique::operator[]</span
                                    ></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/front' | relative_url }}"
                                  title="containerofunique/deque_of_unique/front"
                                  ><span class="t-lines"
                                    ><span>deque_of_unique::front</span></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/back' | relative_url }}"
                                  title="containerofunique/deque_of_unique/back"
                                  ><span class="t-lines"
                                    ><span>deque_of_unique::back</span></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv-h2">
                          <td colspan="5">
                            <a
                              href="{{ '/_docs/deque_of_unique#Iterators' | relative_url }}"
                              title="containerofunique/deque_of_unique/"
                              >Iterators</a
                            >
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/cbegin' | relative_url }}"
                                  title="containerofunique/deque_of_unique/cbegin"
                                  ><span class="t-lines"
                                    ><span>deque_of_unique::cbegin</span></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/cend' | relative_url }}"
                                  title="containerofunique/deque_of_unique/cend"
                                  ><span class="t-lines"
                                    ><span>deque_of_unique::cend</span></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/crbegin' | relative_url }}"
                                  title="containerofunique/deque_of_unique/crbegin"
                                  ><span class="t-lines"
                                    ><span>deque_of_unique::crbegin</span></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/crend' | relative_url }}"
                                  title="containerofunique/deque_of_unique/crend"
                                  ><span class="t-lines"
                                    ><span>deque_of_unique::crend</span></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv-h2">
                          <td colspan="5">
                            <a
                              href="{{ '/_docs/deque_of_unique#Look up' | relative_url }}"
                              title="containerofunique/deque_of_unique/"
                              >Look up</a
                            >
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/find' | relative_url }}"
                                  title="containerofunique/deque_of_unique/find"
                                  ><span class="t-lines"
                                    ><span>deque_of_unique::find</span></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/contains' | relative_url }}"
                                  title="containerofunique/deque_of_unique/contains"
                                  ><span class="t-lines"
                                    ><span
                                      >deque_of_unique::contains</span
                                    ></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5"><br /></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
                <td>
                  <div>
                    <table class="t-nv-begin" cellpadding="0">
                      <tbody>
                        <tr class="t-nv-h2">
                          <td colspan="5">
                            <a
                              href="{{ '/_docs/deque_of_unique#Capacity' | relative_url }}"
                              title="containerofunique/deque_of_unique/"
                              >Capacity</a
                            >
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/empty' | relative_url }}"
                                  title="containerofunique/deque_of_unique/empty"
                                  ><span class="t-lines"
                                    ><span>deque_of_unique::empty</span></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/size' | relative_url }}"
                                  title="containerofunique/deque_of_unique/size"
                                  ><span class="t-lines"
                                    ><span>deque_of_unique::size</span></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv-h2">
                          <td colspan="5">
                            <a
                              href="{{ '/_docs/deque_of_unique#Modifiers' | relative_url }}"
                              title="containerofunique/deque_of_unique/"
                              >Modifiers</a
                            >
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/clear' | relative_url }}"
                                  title="containerofunique/deque_of_unique/clear"
                                  ><span class="t-lines"
                                    ><span>deque_of_unique::clear</span></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/insert' | relative_url }}"
                                  title="containerofunique/deque_of_unique/insert"
                                  ><span class="t-lines"
                                    ><span>deque_of_unique::insert</span></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/emplace' | relative_url }}"
                                  title="containerofunique/deque_of_unique/emplace"
                                  ><span class="t-lines"
                                    ><span>deque_of_unique::emplace</span></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/erase' | relative_url }}"
                                  title="containerofunique/deque_of_unique/erase"
                                  ><span class="t-lines"
                                    ><span>deque_of_unique::erase</span></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/push_front' | relative_url }}"
                                  title="containerofunique/deque_of_unique/push_front"
                                  ><span class="t-lines"
                                    ><span
                                      >deque_of_unique::push_front</span
                                    ></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/emplace_front' | relative_url }}"
                                  title="containerofunique/deque_of_unique/emplace_front"
                                  ><span class="t-lines"
                                    ><span
                                      >deque_of_unique::emplace_front</span
                                    ></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/pop_front' | relative_url }}"
                                  title="containerofunique/deque_of_unique/pop_front"
                                  ><span class="t-lines"
                                    ><span
                                      >deque_of_unique::pop_front</span
                                    ></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/push_back' | relative_url }}"
                                  title="containerofunique/deque_of_unique/push_back"
                                  ><span class="t-lines"
                                    ><span
                                      >deque_of_unique::push_back</span
                                    ></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/emplace_back' | relative_url }}"
                                  title="containerofunique/deque_of_unique/emplace_back"
                                  ><span class="t-lines"
                                    ><span
                                      >deque_of_unique::emplace_back</span
                                    ></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/pop_back' | relative_url }}"
                                  title="containerofunique/deque_of_unique/pop_back"
                                  ><span class="t-lines"
                                    ><span
                                      >deque_of_unique::pop_back</span
                                    ></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/swap' | relative_url }}"
                                  title="containerofunique/deque_of_unique/"
                                  swap
                                  ><span class="t-lines"
                                    ><span>deque_of_unique::swap</span></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
              <tr class="t-nv-h1">
                <td colspan="5">
                  <a
                    href="{{ '/_docs/deque_of_unique#Non-member functions' | relative_url }}"
                    title="containerofunique/deque_of_unique/index"
                    >Non-member functions</a
                  >
                </td>
              </tr>
              <tr class="t-nv-col-table">
                <td>
                  <div>
                    <table class="t-nv-begin" cellpadding="0">
                      <tbody>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/operator_cmp' | relative_url }}"
                                  title="containerofunique/deque_of_unique/operator_cmp"
                                  ><span class="t-lines"
                                    ><span>operator==</span
                                    ><span>operator&lt;=&gt;</span></span
                                  ></a
                                >
                              </div>
                              <div>
                                <span class="t-lines"
                                  ><span></span
                                  ><span
                                    ><span class="t-mark-rev t-since-cxx20"
                                      >(C++20)</span
                                    ></span
                                  ></span
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/swap2' | relative_url }}"
                                  title="containerofunique/deque_of_unique/swap2"
                                  ><span class="t-lines"
                                    ><span
                                      >swap<span class="t-dsc-small"
                                        >(containerofunique::deque_of_unique)</span
                                      ></span
                                    ></span
                                  ></a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/erase2' | relative_url }}"
                                  title="containerofunique/deque_of_unique/erase2"
                                  ><span class="t-lines"
                                    ><span
                                      >erase<span class="t-dsc-small"
                                        >(containerofunique::deque_of_unique)</span
                                      ></span
                                    ><span
                                      >erase_if<span class="t-dsc-small"
                                        >(containerofunique::deque_of_unique)</span
                                      ></span
                                    ></span
                                  ></a
                                >
                              </div>
                              <div>
                                <span class="t-lines"
                                  ><span
                                    ><span class="t-mark-rev t-since-cxx20"
                                      >(C++20)</span
                                    ></span
                                  ><span
                                    ><span class="t-mark-rev t-since-cxx20"
                                      >(C++20)</span
                                    ></span
                                  ></span
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="t-nv-h1">
                          <td colspan="5">
                            <span></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
                <td>
                  <div>
                    <table class="t-nv-begin" cellpadding="0">
                      <tbody>
                        <tr class="t-nv">
                          <td colspan="5">
                            <div class="t-nv-ln-table">
                              <div>
                                <a
                                  href="{{ '/_docs/deque_of_unique/operator_cmp' | relative_url }}"
                                  title="containerofunique/deque_of_unique/operator_cmp"
                                  ><span class="t-lines"
                                    ><span>operator!=</span
                                    ><span>operator&lt;</span
                                    ><span>operator&gt;</span
                                    ><span>operator&lt;=</span
                                    ><span>operator&gt;=</span></span
                                  ></a
                                >
                              </div>
                              <div>
                                <span class="t-lines"
                                  ><span
                                    ><span class="t-mark-rev t-until-cxx20"
                                      >(until C++20)</span
                                    ></span
                                  ><span
                                    ><span class="t-mark-rev t-until-cxx20"
                                      >(until C++20)</span
                                    ></span
                                  ><span
                                    ><span class="t-mark-rev t-until-cxx20"
                                      >(until C++20)</span
                                    ></span
                                  ><span
                                    ><span class="t-mark-rev t-until-cxx20"
                                      >(until C++20)</span
                                    ></span
                                  ><span
                                    ><span class="t-mark-rev t-until-cxx20"
                                      >(until C++20)</span
                                    ></span
                                  ></span
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
