<div class="t-navbar">
  <div class="t-navbar-sep">&nbsp;</div>
  <div class="t-navbar-head">
    <a href="{{ site.baseurl | default: '/' }}" title="{{ site.title }}">
      {{ site.title }}
    </a>
    <div class="t-navbar-menu">
      <div>
        <div>
          <table class="t-nv-begin" cellpadding="0" style="line-height: 1.1em">
            <tbody>
              <tr class="t-nv">
                <td colspan="5">
                  <a
                    href="{{ '/_docs/deque_of_unique/index.html' | relative_url }}"
                    title="{{ link.title }}"
                    {{
                    link.title
                    }}
                  >
                    deque_of_unique
                  </a>
                </td>
              </tr>
              <tr class="t-nv">
                <td colspan="5">
                  <a
                    href="{{ '/_docs/vector_of_unique/index.html' | relative_url }}"
                    title="vector_of_unique"
                  >
                    vector_of_unique
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
